* {
    padding: 0;
    margin: 0;
    /* background-color: #ffffff; */
    box-sizing: border-box;
    text-decoration: none;
    /* list-style: none; */
    scroll-behavior: smooth;
}

/* NAVAGATION CSS STARTS HERE */

.navagation {
    width: 100%;
    height: 133.5px;

}

.navagation>.logo {
    width: 100%;
    height: 98px;
    display: flex;
    justify-content: center;
    /* background: #bd3535 !important;  */
}

.navagation>.logo>img {
    /* background: inherit !important; */
    /* border:2px solid #0f0f0f; */
    width: 250px;
    height: 98px;
    object-fit: cover;
}

.navagation>.nav__list {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
}

.navagation>.nav__list>ul {
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    align-items: center;
    list-style: none;

}

.navagation>.nav__list>ul>li>a {
    color: #8d8d8d;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace
        /* background-color: #6b6b6b !important; */
}

/* NAVAGATION CSS ENDS HERE */


/* BLOG PREVIEW CSS STARTS HERE */

.blog__preview {
    position: relative;
    width: 100%;
    height: 32rem;
}

.blog__preview>.preview__image>img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 32rem;
    object-fit: cover;
    z-index: -1;
}


/* Making the preview image darker to make the text more visible. */
.preview__image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.blog__preview>.preview__details {
    transform: translate(10%, 50%);
    width: clamp(20rem, 50vw, 40rem);
    height: 16rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.blog__preview>.preview__details>.category,
.category {
    width: 90px;
    height: fit-content;
    padding: clamp(4px, 1vw, 6px);
    font-weight: bold;
    color: #df2f2f;
    background-color: #dfe2e2;

}

.blog__preview>.preview__details>.upload__date {
    width: 150px;
    height: fit-content;
    color: #c0bfbf;
    padding: clamp(4px, 1vw, 6px) clamp(8px, 2vw, 10px);
}

.blog__preview>.preview__details>.preview__title,
.news__slider__title {
    width: clamp(80%, 90vw, 100%);
    font-size: clamp(2rem, 5vw, 3rem);
}

.blog__preview>.preview__details>.preview__description {
    width: clamp(70%, 80vw, 90%);
    font-size: clamp(0.8rem, 2.5vw, 1rem);
    color: #c0bfbf;
}

.blog__preview>.preview__details>.user__profile,
.user__profile {
    display: flex;
    align-items: center;
}

.blog__preview>.preview__details>.user__profile>img,
.user__profile>img {
    width: clamp(30px, 5vw, 40px);
    height: clamp(30px, 5vw, 40px);
    border-radius: 50%;
}

.blog__preview>.preview__details>.user__profile>p,
.user__profile>p {
    margin: 0 clamp(4px, 2vw, 8px);
}

.blog__preview>.preview__details>.user__profile>p>.user__name {
    font-weight: bold;
    color: #f8f8f8;
}

/* BLOG PREVIEW CSS ENDS HERE */

/* NEWS SECTION CSS STARTS HERE */
.container {
    width: 100%;
    background-color: #f4f2f2;
    padding-bottom: 30px;
}

.container>.wrapper {
    position: relative;
    width: 95%;
    display: flex;
    margin: auto;
    background-color: #f4f2f2;
}

.container>.wrapper>.news__container {
    width: 70%;
}

.container>.wrapper>.news__container>.news__headline,
.category__headline {
    width: clamp(8rem, 15vw, 10rem);
    margin: 15px 10px;
    padding: 10px 10px 10px 0;
    font-size: clamp(1.4rem, 1.4vw, 1.6rem);
    border-top: 3px dotted #d61414;
}

.wrapper>.news__container>.news__card {
    margin: 20px 20px 20px 0;
    padding: 15px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 3px;
    background-color: #fff;
    flex-direction: row;
    align-items: center;
}

.wrapper>.news__container>.news__card>.news__image {
    /* padding: 10px 20px 10px 10px; */
    flex: 0 0 auto;
    padding: 10px 20px 10px 10px;
    width: 300px;
}

.wrapper>.news__container>.news__card>.news__image>img {
    width: 100%;
    height: 12rem;
    border-radius: 3px;
    object-fit: cover;
}

.wrapper>.news__container>.news__card>.news__card__body {
    flex: 1 1 auto;
    padding: 10px 10px 10px 20px;
    display: flex;
    flex-direction: column;
}

.wrapper>.news__container>.news__card>.news__card__body>.news__title {
    margin: 10px 0;
}


.news__card>hr {
    border-color: #c2c2c2;
    margin: 10px 0;
}

.wrapper>.news__container>.news__card>.news__card__body>.user__profile>p>.user__name {
    font-weight: bold;
    color: #e44a4a;
}


.wrapper>.news__container>.news__card>.news__card__body>.upload__date {
    color: #686868;
    display: flex;
    justify-content: flex-end;
}

.fa-regular {
    margin-right: 5px;
}

/* NEWS SECTION CSS ENDS HERE */



/* CATEGORY SECTION CSS ENDS HERE */

.category__container {
    position: relative;
    width: 30%;
    height: fit-content;
    margin: 15px;
    border-radius: 3px;
    background-color: #fff;
}

.category__container>.category__headline {
    width: clamp(10rem, 20vw, 15rem);
}

.category__container>ul {
    margin: 10px 0px 20px 50px;
}

.category__container>ul>li {
    width: 100%;
    margin: 10px;
    font-size: clamp(0.7rem, 2vw, 0.9rem);
    text-transform: uppercase;
    color: #686868;

}

.category__container>.advertisement__section1>img {
    width: 100%;
    height: 20rem;
    padding: 10px 10px 5px 10px;
    object-fit: cover;
}

/* CATEGORY SECTION CSS ENDS HERE */

/* NEWS SLDIER CSS STARTS HERE */

.container>.news__slider {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: #ffffff;

}

.container>.news__slider>.news__slider__image {
    position: relative;
    width: 50%;
    /* height: 20rem; */
    object-fit: cover;

}

.container>.news__slider>.news__slider__image>img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.container>.news__slider>.news__slider__image>.arrow__buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container>.news__slider>.news__slider__image>.arrow__buttons>a {
    width: 60px;
    height: 60px;
    color: rgba(227, 225, 225, 0.751);
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    transition: 1s ease-in-out;
}

/* .container>.news__slider>.news__slider__image>.arrow__buttons>a>i {
} */


.container>.news__slider>.news__slider__details {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 20px 50px;
}

.container>.news__slider>.news__slider__details>.category,
.container>.news__slider>.news__slider__details>.upload__date {
    margin-right: 10px;
    /* margin-bottom: 25px; */
}

.container>.news__slider>.news__slider__details>.upload__date {
    color: #828282;

}
.container>.news__slider>.news__slider__details>.news__slider__title {
    margin: 20px 0px;
}

.container>.news__slider>.news__slider__details>.news__slider__description {
    margin-bottom: 20px;
    color: #828282;
}

.container>.news__slider>.news__slider__details>.user__profile>p>.user__name {
    font-weight: bold;
}
/* NEWS SLDIER CSS ENDS HERE */

@media screen and (max-width: 768px) {
    .wrapper>.news__container>.news__card {
        flex-direction: column;
    }

    .wrapper>.news__container>.news__card>.news__image {
        width: 100%;
        padding: 0;
    }

    .wrapper>.news__container>.news__card>.news__image img {
        border-radius: 3px 3px 0 0;
    }

    .wrapper>.news__container>.news__card>hr {
        width: 100%;
        margin: 10px 0;
    }

    .wrapper>.news__container>.news__card>.news__card__body {
        padding: 15px;
    }


    /*  */
    .category__container>ul {
        margin: 10px 0px 20px 10px;
    }
}